  <!-- Navigation -->
    <div class = "ara">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
  <img src="/img/bpk.png" alt="Logo" class="logo" >
        <a class="navbar-brand" href="#">Zavod za Javno Zdravstvo BPK Goražde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
         
        </div>
      </div>
    </nav>
    </div>
   <div class = "button">
    <a href="/" class="previous">&laquo; Previous</a>
   </div>

<section class="about">
    <div class = "aktivnost">
      <p></p>
      <p></p>
        <img src="/img/4.jpg" width="100%">
    </div>
</section>

<section class = "o-zavodu">
  <div class = "ozavodu">
    <p>
      Javna ustanova Zavod za javno zdravstvo Bosansko-podrinjskog kantona osnovana je od strane Skupštine Bosansko-podrinjskog kantona Goražde, koja je na sjednici održanoj 22.09.1999. godine donijela  Odluku o osnivanju javne ustanove Zavoda za javno zdravstvo Bosansko – podrinjskog kantona Goražde (“Službene novine Bosansko-podrinjskog kantona Goražde” broj: 4/99).
    </p>
<p>Odlukom o preuzimanju prava i obaveza osnivača i usklađivanju organizacije i poslovanja Javne ustanove Zavod za javno zdravstvo Bosansko-podrinjskog kantona Goražde (“Službene novine Bosansko-podrinjskog kantona Goražde” broj: 12/13), usklađen je rad Zavoda sa Zakonom o zdravstvenoj zaštiti (“Službene novine Federacije Bosne i Hercegovine” broj: 46/10 i 75/13).
</p>


<h5>Djelatnost Zavoda je obavljanje javnozdravstvene djelatnosti koja obuhvata:

</h5>

<div class = "tekst2">
<p>1.     predlaže programe zdravstvene zaštite iz djelokruga svog rada;</p>

<p>2.     provodi zdravstveno statistička istraživanja u svrhu praćenja, procjene i analize zdravstvenog stanja stanovništva, kao i organizacije i rada zdravstvenih ustanova za područje kantona;
</p>
<p>3.     prati, ocjenjuje i analizira zdravstveno stanje stanovništva, kao i organizaciju i rad zdravstvenih¸ ustanova na području kantona;
</p>
<p>4.     planira, organizuje i provodi aktivnosti promocije zdravlja i zdravstvenog vaspitanja stanovništva;
</p>
<p>5.     učestvuje u planiranju, predlaganju i provođenju mjera za sprečavanje, rano otkrivanje i suzbijanje hroničnih masovnih bolesti, uključujući i bolesti ovisnosti;
</p>
<p>6.     prati, analizira i ocjenjuje uticaj okoline i hrane na zdravstveno stanje stanovništva na području kantona, te predlaže mjere za unapređenje stanja u oblasti;
</p>
<p>7.     provodi preventivno vaspitne mjere zdravstvene zaštite u osnovnim i srednjim školama, kao i fakultetima za područje kantona;
</p>
<p>8.     koordiniše, usklađuje i stručno povezuje rad zdravstvenih ustanova za područje kantona;
</p>
<p>9.     kontinuirano provodi mjere higijensko-epidemiološke zaštite i nadzora sa epidemiološkom analizom stanja na području kantona i provodi protivepidemijske mjere, te nadzire provođenje obaveznih imunizacija;
</p>
<p>10.  obavlja raspodjelu obaveznih vakcina zdravstvenim ustanovama na primarnom nivou zdravstvene zaštite na području kantona,
</p>
<p>11.  nadzire provođenje mjera dezinfekcije, dezinsekcije i deratizacije, te provodi preventivne i protivepidemijske postupke dezinfekcije, dezinsekcije i deratizacije za područje kantona;
</p>
<p>12.  obavlja sanitarnu hemijsku i sanitarnu mikrobiološku dijagnostičku djelatnost;
</p>
<p>13.  učestvuje u izradi i provođenju pojedinih programa zdravstvene zaštite u vanrednim prilikama;
</p>
<p>14.  provodi poslove higijensko-epidemiološke službe za područje kantona;
</p>
<p>15.  sarađuje sa drugim zdravstvenim ustanovama na području kantona, kao i sa nadležnim organima lokalne samouprave i drugim ustanovama i organizacijama od značaja za unapređenje javnog  zdravlja.
</p>
  </div>
 
<p></p>
<h5>Zavod pored poslova iz stava 1. ovog člana, može obavljati i sljedeće poslove:
</h5>
<div class = "tekst2">
<p>16.  planira, organizuje i provodi djelatnost kontinuirane medicinske edukacije i kontinuiranog profesionalnog razvoja u sektoru zdravstva;
</p>
<p>17.  izrađuje, implementira i evaluira projekte u oblasti zdravstva i zdravstvene zaštite;
</p>
<p>18.  provodi obuku zaposlenih za sticanje osnovnih znanja o higijeni životnih namirnica i predmeta opšte upotrebe, kao i ličnoj higijeni lica koja rade u proizvodnji i prometu životnih namirnica i predmeta opšte upotrebe;
</p>
<p>19.  obavlja hemijske, bakteriološke, serološke, toksikološke i virusološke preglede i ispitivanja u vezi sa proizvodnjom i prometom životnih namirnica, vode, vazduha i predmeta opšte upotrebe, kao i preglede u vezi sa dijagnostikom zaraznih i nezaraznih bolesti;
</p>
<p>20.  ispituje zdravstvenu ispravnost vode za piće, vode za dijalizu, vode za rekreaciju, površinske i otpadne vode, stanje vodoopskrbe, te zdravstvenu ispravnost životnih namirnica i predmeta opšte upotrebe;
</p>
<p>21.  provodi mjere dezinfekcije, dezinsekcije i deratizacije;
</p>
<p>22.  predlaže i provodi aktivnosti na unapređenju sistema zdravstvene bezbjednosti proizvodnje i prometa životnih namirnica, vode i predmeta opšte upotrebe u cilju smanjenja rizika od obolijevanja i drugih štetnih posljedica po zdravlje,
</p>
<p>23.  vrši zdravstveni nadzor nad kliconošama, zaposlenim i drugim licima u skladu sa propisima o zaštiti stanovništva od zaraznih bolesti;
</p>
<p>24.  daje stručno mišljenje o opravdanosti osnivanja, proširenja, promjene ili prestanka rada zdravstvene ustanove na području kantona;
</p>
<p>25.  vrši sanitarne preglede zaposlenih koji se obavezno provode radi zaštite stanovništva od zaraznih bolesti, zaštite potrošača, odnosno korisnika;
</p>
<p>26.  učestvuju u provođenju vanjske provjere kvaliteta stručnog rada u drugim zdravstvenim ustanovama i privatnoj praksi;
</p>
<p>27.  bavi se izdavanjem raznih oblika publikacija iz djelokruga svog rada;
</p>
<p>28.  obavlja i druge poslove u skladu sa zakonom.
</p>
<p></p>
  </div>
<h5>U skladu sa Odlukom o klasifikaciji djelatnosti Bosne i Hercegovine 2010 (“Službeni glasnik BiH”, broj 47/10), djelatnost Zavoda obuhvata slijedeće razrede:
</h5>
<div class = "tekst2">
<p></p>
<p>1.     86.22 – Djelatnost specijalističke medicinske prakse,       
</p>
<p>2.     86.90 – Ostale djelatnosti zdravstvene zaštite,
</p>
<p>3.     63.11 – Obrada podataka,
</p>
<p>4.     71.20 – Tehničko ispitivanje i analiza
    </p></div>
  </div>
</section>
    
<section class="about">
    <div class = "aktivnost1">
      <p></p>
      <p></p>
        <img src="/img/hearts.png" width="100%">
    </div>
</section>
  
 <footer class="py-5 bg-dark">
      <div class="container">
          
          
        <p class="m-0 text-center text-white">Copyright &copy; Armin Pezo Website 2020</p>
      </div>
      <!-- /.container -->
    </footer>
