<!-- Navigation -->
    <div class = "ara">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
  <img src="/img/bpk.png" alt="Logo" class="logo" >
        <a class="navbar-brand" href="#">Zavod za Javno Zdravstvo BPK Goražde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
         
        </div>
      </div>
    </nav>
    </div>
   <div class = "button">
    <a href="/" class="previous">&laquo; Previous</a>
   </div>

   <section class="ispravnost">

     <h2>  Kontrola zdravstvene ispravnosti vode</h2>
<p>Zašto?
</p>
<p>Opskrba zdravstveno ispravnom vodom jedan je od osnovnih uslova i načela društva. Ispitivanje kvaliteta izvorišta i zdravstvene ispravnosti vode u vodoopskrbnim objektima i mreži te kontrola dezinfekcije, osnovne su mjere za sprječavanje i suzbijanje zaraznih bolesti.
</p>


<h2>Sadržaj usluge?
</h2>
<p> - Zavod za javno zdravstvo BPK vrši ispitivanje zdravstvene ispravnosti vode koje obuhvata mikrobiološku i fizičko-hemijsku analizu.
</p>
<p> - Metode za mikrobiološka ispitivanja vode za piće uključuju ispitivanja za sljedeće vrste mikroorganizama: Escherichia coli, koliformne bakterije, Enterokoke, Clostridium perfringens, te broj kolonija na 22° i 37° C.
</p>
<p> - Metode za fizičko-hemijska ispitivanja vode za piće, prirodne mineralne, prirodne izvorske i stone vode uključuju ispitivanja sljedeće parametre: mutnoća, reakcija pH, elektrovodljivost, hloridi, permanaganatni indeks, boja, miris, okus, amonijak, nitrate, nitrite i koncentraciju rezidualnog hlora.
</p>


<h2>Zakonska podloga
</h2>
<p> - Kontrola zdravstvene ispravnosti vode vrši se prema:
</p>
<p> - Pravilniku o zdravstvenoj ispravnosti vode za piće, ”Sl. glasnik BiH“ br. 40/10.
</p>
<p> - Pravilniku o prirodnim mineralnim i prirodnim izvorskim vodama BiH, ”Sl. glasnik BiH”, br. 26/10.
</p>
<p> - Pravilniku o stonim vodama, ”Sl. glasnik BiH”, br. 40/10.
</p>


<h3>Dodatne informacije: 038/227-152</h3>
   </section>
    <footer class="py-5 bg-dark">
      <div class="container">
          
          
        <p class="m-0 text-center text-white">Copyright &copy; Armin Pezo Website 2020</p>
      </div>
      <!-- /.container -->
    </footer>
